* {
  font-family: 'Roboto Mono', monospace;
}

body{
  text-align: center;
  background-color: #fefae0;
}

.drawing {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  padding: 10px;
  border-radius: 5px;
  background-color: #e9edc9;
}

.container {
  display: grid;
  width: 550px;
  height: 550px;
  align-self: center;
  border: 1px solid #333333;
  background-color: white;
}

#pixel {
  user-select: none;
}

#colorPicker{
  margin-top: 20px;
}

footer {
  display:flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left:0px;
  bottom:0px;
  height:40px;
  width:100%;
  background:#faedcd;
  border: 1px solid #333333;
}


