* {
  font-family: 'Mochiy Pop P One', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

.container {
  display: grid;
  width: 500px;
  height: 500px;

  border: 2px solid black;
}

#pixel {
  /* height: 1fr;
  /* width: 1fr; */
  /* margin: 0px;
  border: 1px solid green; */
  user-select: none;
}

/* #pixel:hover {
  background-color: black;
} */