* {
  font-family: 'Roboto Mono', monospace;
}

body{
  text-align: center;;
}
.drawing {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  /* width: 20px;
  height: 10px; */
}

.container {
  display: grid;
  width: 500px;
  height: 500px;
  align-self: center;;

  border: 2px solid black;
}

#pixel {
  user-select: none;
}


